@font-face {
    font-family: 'SofiaProLiCond';
    src: url('_fonts/SofiaProLiCond-webfont.woff2') format('woff2'),
         url('_fonts/SofiaProLiCond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa_Bold';
    src: url('_fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
         url('_fonts/Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nexa_Light';
    src: url('_fonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('_fonts/Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesque_regular_italic';
    src: url('_fonts/acherus_grotesque_-_regular_italic-webfont.woff2') format('woff2'),
         url('_fonts/acherus_grotesque_-_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesque_regular';
    src: url('_fonts/acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
         url('_fonts/acherus_grotesque_-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Northwell';
	src: url('_fonts/northwell.eot');
	src: url('_fonts/northwell.eot?#iefix') format('embedded-opentype'),
             url('_fonts/northwell.woff2') format('woff2'),
	     url('_fonts/northwell.woff') format('woff'),
	     url('_fonts/northwell.ttf') format('truetype'),
	     url('_fonts/northwell.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NorthwellAlt';
	src: url('_fonts/northwell-alt.eot');
	src: url('_fonts/northwell-alt.eot?#iefix') format('embedded-opentype'),
             url('_fonts/northwell-alt.woff2') format('woff2'),
	     url('_fonts/northwell-alt.woff') format('woff'),
	     url('_fonts/northwell-alt.ttf') format('truetype'),
	     url('_fonts/northwell-alt.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
