.module__three-across {
	background-color: $light-gray;
	padding: rem-calc(80px 20px);

	.wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.three-across_h2 {
		width: 100%;
		font-family: $northwell;
		font-size: 5rem;
		text-align: center;
		color: $black;
		margin-bottom: 2rem;
	}

	.third_h3 {
		position: relative;
		font-size: 1.25rem;
		font-weight: bolder;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: rem-calc(2px);
		margin-bottom: 2rem;
		color: $black;
		z-index: 0;
		text-shadow: 1px 1px 1px rgba($black,0.1);

		&::before {
			content: "";
			position: absolute;
			top: rem-calc(20px);
			left: 0;
			display: block;
			width: 100%;
			height: rem-calc(20px);
			background-color: rgba($pink,0.5);
			z-index: -1;
		}
	}

	.button {
		display: block;
		background-color: $pink;
		margin-top: 1.5rem;
	}

	.module_third {
		width: 30%;

		&:nth-of-type(2) {
			.third_h3 {
				color: $black;

				&::before {
					background-color: rgba($dark-blue,0.5);
				}
			}

			.button {
				background-color: $dark-blue;
			}
		}

		&:nth-of-type(3) {
			.third_h3 {
				color: $black;

				&::before {
					background-color: rgba($green,0.5);
				}
			}

			.button {
				background-color: $green;
			}
		}
	}
}
