.module__intro {
	background-color: $light-gray;
	padding: rem-calc(80px 20px);

	.intro_img {
		position: relative;
		margin: 0 0 2rem;
		z-index: 0;

		img {
			display: block;
		}

		.intro_img-caption {
			position: absolute;
			top: 7.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 75%;
			font-family: $cursive-font;
			font-size: 3rem;
			//font-weight: lighter;
			color: $black;
			text-shadow: 1px 1px 1px rgba($black,0.1);
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: rem-calc(-10px);
			right: rem-calc(-10px);
			width: 25%;
			height: 65%;
			background-color: $dark-blue;
			z-index: -1;
		}

			&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: rem-calc(-10px);
			left: rem-calc(-10px);
			width: 20%;
			height: 35%;
			background-color: $green;
			z-index: -1;
		}
	}
}
